.blog-post-detail {
    font-family: Arial, sans-serif;
    color: #1F2B6C;

    .header {
        height: 250px;
        text-align: center;
        padding: 30px;
        background: #f7f9fc;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 200px;

        .title-head {
            a {
                color: #1F2B6C;
                text-decoration: none;

                &:hover {
                    text-decoration: underline; 
                }
            }
        }

        h1 {
            font-weight: 700;
            font-size: 36px;
            color: #1F2B6C;
            margin: 10px 0;
        }

        .meta-info {
            font-size: 14px;
            color: #1F2B6C;
            display: flex;
            align-items: center;

            span {
                margin-right: 15px;

                img {
                    width: 15px;
                    margin-right: 5px;
                }
            }
        }
    }

    .content-detail-blog {
        width: 100%;
        display: flex;
        padding: 20px 0;
        flex-direction: row;

        .main-content {
            flex: 3;
            padding: 0 100px;

            .main-image {
                width: 100%;
                height: auto;
                border-radius: 5px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 1.6;
                color: #444;
                margin-bottom: 20px;
            }

            .navigation {
                display: flex; 
                justify-content: space-between; 
                margin-top: 20px; 

                .nav-button {
                    width: 200px;
                    padding: 10px 20px;
                    background-color: #1F2B6C;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    font-weight: bold;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #16224d;
                    }
                }

                .nav-button:first-child {
                    margin-right: auto; 
                }

                .nav-button:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}
