<!DOCTYPE html>
<html>
<head>
    <title>Xác nhận đặt lịch hẹn thành công</title>
</head>
<body>
    <p>Chào <strong>{{ full_name }}</strong>,</p>
    <h4>Chúng tôi xác nhận bạn đã đặt lịch hẹn khám chữa bệnh thành công!</h4>
    <p>Thông tin lịch hẹn:</p>
    <ul>
        <li><strong>Thời gian khám bệnh:</strong> {{ appointment_date }}</li>
        <li><strong>Bác sĩ phụ trách:</strong> {{ doctor_name }}</li>
        <li><strong>Trạng thái thanh toán:</strong> {{ status }}</li>
    </ul>
    <p><strong>Quý khách vui lòng đến đúng giờ. Nếu quý khách đến trễ sau 30 phút kể từ thời gian khám bệnh bạn đã đặt, cuộc hẹn của bạn sẽ được hủy!</strong></p>
    <p>Chúng tôi rất mong được phục vụ bạn!</p>
    <p>Trân trọng,<br/>Liên hệ đội ngũ hỗ trợ: <strong>0987 654 321</strong></p>
</body>
</html>
