<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Chào {{ full_name }},</p>
    <p>
      Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn.
        Để đặt lại mật khẩu của bạn, vui lòng nhấp vào liên kết dưới đây hoặc sao chép và dán nó vào trình duyệt của bạn:
    </p>

    <a href="{{ link }}" target="_blank">Làm mới mật khẩu</a>

    <p>Thư sẽ hết hạn sau một khoảng thời gian nhất định vì lý do bảo mật</p>

    <p>Trân trọng, <br />[MEDICAL TEAM]</p>
  </body>
</html>
